@font-face {
  font-family: "Tatsam Bengali Rnd Medium";
  src: url("/contents/website/assests/webfonts/TatsamBengaliRnd-Medium-f9e08da18dc3cede04a3c8cd5950c2ad.woff2") format("woff2"), url("/contents/website/assests/webfonts/TatsamBengaliRnd-Medium-d1d11637660f2d5b5765bcfc5911e62e.woff") format("woff");
}
@font-face {
  font-family: 'SolaimanLipi';
  src: url('/contents/website/assests/webfonts/SolaimanLipi.woff') format('woff');
}
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  font-family: 'SolaimanLipi', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
  --brand_green: #427c42;
  --brand_blue: #4d50a2;
  --brand_sky: #108778;
  --brand_black: #000;
  --bran_blue_light: #0071bc;
  --white: #fff;
}
#copyright {
  padding: 10px;
  width: 100%;
  background-color: #369;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0px;
}
body {
  background-color: #ffffff;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--white);
}
a,
span,
i {
  display: inline-block;
}
img {
  border-radius: 2px;
}
.change_position {
  right: 5px;
}
.current_position {
  right: -400px;
}
#subscibe_alert {
  position: fixed;
  top: 200px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 3px 3px #3479b58f;
  z-index: 1000;
  transition: right 3s ease-in-out;
}
#subscibe_alert h5 {
  color: var(--bran_blue_light);
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: unset;
}
#display_alert {
  position: fixed;
  top: 30%;
  right: 40%;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 3px 3px #3479b58f;
  z-index: 1000;
  transition: top 5s;
}
#display_alert img {
  width: 400px;
  height: 245px;
}
.scroll_link {
  position: fixed;
  bottom: 90px;
  right: 39px;
  display: none;
  z-index: 99999;
  animation: abc 2s;
}
.scroll_link i {
  width: 35px;
  height: 35px;
  background: orangered;
  color: #fff;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  border-radius: 3px;
}
.scroll_link:hover i {
  background: var(--brand_blue);
}
.scroll_back {
  display: none;
}
/*-- start top header --*/
#header_one input {
  padding: 0.4rem;
  font-size: 0.9rem;
}
#header_one .search_btn {
  background-color: var(--brand_blue);
  padding: 0px 20px;
  font-size: 16px;
  border-radius: unset;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#header_one .search_btn i {
  font-size: 16px;
  color: white;
}
/*-- start main navbar --*/
#main_menu {
  background: var(--brand_green);
  position: sticky;
  top: 0px;
  z-index: 9999;
  box-shadow: 0px 2px 2px 1px #45454575;
}
#main_menu #navbar_button {
  color: white;
  cursor: pointer;
}
#main_menu .navbar_fluid {
  position: relative;
}
#main_menu .navbar_fluid .nav_bar_logo img {
  position: absolute;
  width: 57px;
  top: 0px;
  left: 40px;
}
#main_menu .nav-style {
  justify-content: center;
  align-items: center;
}
#main_menu a:hover,
#main_menu a:focus {
  color: white;
  background-color: var(--brand_sky);
}
#main_menu .active {
  color: white;
  background-color: orangered;
}
#main_menu .active_2 {
  color: black;
  background-color: var(--brand_blue);
}
#main_menu .fix_menu_logo {
  visibility: visible;
  display: block;
  padding-right: 50px;
}
#main_menu a img {
  height: 56px;
}
#main_menu .nav_line_li {
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main_menu .nav_line_li hr {
  height: 25px;
  margin: auto 0px;
  border: 0;
  background: white;
  width: 1px;
}
#main_menu .nav-link,
#main_menu .navbar {
  padding: 0px;
}
#main_menu .nav-link {
  display: block !important;
  margin-right: 0px;
  padding: 16px 20px !important;
  text-align: center;
}
#main_menu .nav-link-2 {
  display: block !important;
  margin-right: 0px;
  padding: 16px 10px;
  text-align: center;
}
#main_menu i {
  padding: 0px 4px;
}
.scroll_section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
}
.scroll_section .scroll_section_line {
  width: 45%;
}
.scroll_section .scroll_section_line div {
  width: 100%;
  border-bottom: 1px solid #25242d;
}
.scroll_section i {
  padding: 6px 10px;
  font-size: 20px;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid #1d1c1c;
}
.scroll_section i:hover {
  background-color: orangered;
  color: #fff;
}
#footer_main_div .footer_img_div {
  background-color: #02ad59;
}
#footer_main_div .footer_img_div img {
  width: 100%;
}
#footer_main_div a {
  text-decoration: none;
}
#footer_main_div .footer_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #02ad59;
  color: #fff;
}
#footer_main_div .footer_div .line_div {
  border-right: 1px solid white;
  height: 115px;
}
#footer_main_div .footer_div .footer_child {
  text-align: left;
  padding-left: 20px;
}
#footer_main_div .footer_div .footer_child p {
  margin-bottom: unset;
  width: 100%;
}
#footer_main_div .footer_div .footer_div1 {
  width: 18%;
}
#footer_main_div .footer_div .footer_div2 {
  width: 25%;
}
#footer_main_div .footer_div .footer_div3 {
  width: 14%;
}
#footer_main_div .footer_div .footer_div3 a:hover {
  color: var(--brand_black);
}
#footer_main_div .footer_div .footer_div4 {
  width: 18%;
}
#footer_main_div .footer_div .footer_div4 p {
  padding-bottom: 20px;
}
#footer_main_div .footer_div .footer_div4 a {
  background-color: white;
  color: black;
  width: 45px;
  text-align: center;
  border-radius: 50%;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
#footer_main_div .footer_div .footer_div4 a:hover {
  background-color: orangered;
  color: white;
}
#footer_main_div .footer_div .footer_div5 {
  width: 20%;
}
#footer_main_div .footer_div .footer_div5 p {
  padding-bottom: 20px;
}
#footer_main_div .footer_div .footer_div5 #basic-addon1 {
  background-color: white;
  padding: 5px 7px;
  font-size: 12px;
}
#footer_main_div .footer_div .footer_div5 #basic-addon1 i {
  color: var(--bran_blue_light);
}
#footer_main_div .footer_div .footer_div5 #basic-addon2 {
  padding: 5px 5px;
  font-size: 12px;
}
#footer_main_div .footer_div .footer_div5 #basic-addon3 {
  padding: 5px 5px;
  background-color: var(--bran_blue_light);
  color: white;
  font-size: 12px;
  cursor: pointer;
}
#footer_main_div .footer_div .footer_div5 #basic-addon3 #basic-addon3:hover {
  background-color: orangered;
}
#footer_main_div .footer_copyright {
  padding: 10px;
  background-color: #369;
  color: #fff;
  text-align: center;
}
#all_div_section .main_section_one {
  display: flex;
}
#all_div_section .main_section_one .sidebar {
  width: 13%;
}
#all_div_section .main_section_one .sidebar .active {
  color: #2a36dd;
  background-color: var(--brand_sky);
}
#all_div_section .main_section_one .sidebar ul {
  background-color: var(--brand_sky);
}
#all_div_section .main_section_one .sidebar li {
  text-align: center;
}
#all_div_section .main_section_one .sidebar a {
  text-decoration: none;
  width: 100%;
  color: white;
  padding: 6px 0px 7px 0px;
  border-bottom: 1px solid white;
}
#all_div_section .main_section_one .sidebar a:hover {
  background-color: var(--brand_blue);
}
#main_section_home {
  margin: 20px 0px 20px 20px;
  width: 87%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#main_section_home .home_img_div {
  width: 76%;
}
#main_section_home .home_img_div .home_img_div_first_row {
  margin-bottom: 10px;
}
#main_section_home .home_img_div .home_img_div_first_row a {
  box-shadow: 0px 0px 0px 1px #615e5e57;
  border-radius: 4px;
}
#main_section_home .home_img_div .home_img_div_second_row {
  margin-bottom: 10px;
}
#main_section_home .home_img_div .home_img_div_second_row a {
  border: 1px solid #615e5e57;
  border-radius: 3px;
}
#main_section_home .home_second_section {
  width: 24.5%;
}
#main_section_home .a_top_1 .image_title {
  padding-top: 10px;
  padding-bottom: 5px;
}
#main_section_home .a_top_2 {
  height: 185px;
}
#main_section_home .img_outer_div {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
#main_section_home .img_outer_div .image_top_1 {
  width: 100%;
  height: 380px;
}
#main_section_home .img_outer_div .image_top_2 {
  width: 100%;
  height: 185px;
}
#main_section_home .img_outer_div .image_top_3 {
  width: 100%;
  height: 180px;
}
#main_section_home .img_outer_div img {
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#main_section_home .img_outer_div .image_title {
  padding-top: 5px;
  text-align: center;
  color: white;
  position: absolute;
  background-color: #262bbc94;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#main_section_home .img_outer_div p,
#main_section_home .img_outer_div h5,
#main_section_home .img_outer_div h6 {
  margin-bottom: unset;
}
#main_section_home .img_outer_div p:nth-child(2) {
  font-size: 13px;
}
#main_section_home .img_outer_div p:nth-child(3) {
  font-size: 12px;
}
#main_section_home .img_outer_div:hover .image_title {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#main_section_home .img_outer_div:hover img {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
.home_last_month_info {
  width: 100%;
}
.home_last_month_info .header {
  margin: 20px 0px 10px 0px;
  padding: 10px;
  background-color: var(--brand_sky);
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 4px;
}
.home_last_month_info .header img {
  width: 31px;
}
.home_last_month_info .table_div {
  width: 100%;
}
.home_last_month_info .table_div table {
  width: 100%;
  border-collapse: separate;
}
.home_last_month_info .table_div .topic_title {
  width: 15%;
  background-color: var(--brand_sky);
  color: #fff;
  padding: 11px;
  margin: 1px;
  text-align: center;
}
.home_last_month_info .table_div .topic_description {
  width: 35%;
  background-color: var(--brand_blue);
  margin: 1px;
}
.home_last_month_info .table_div .topic_description a {
  text-decoration: none;
  color: #fff;
  padding: 9px 9px 9px 20px;
}
.home_last_month_info .table_div .topic_description a:hover {
  color: #f4c900;
}
.home_last_month_info .table_div .topic_description p {
  margin-bottom: 0px;
}
#home_right_sidebar {
  width: 24%;
  padding-left: 20px;
}
#home_right_sidebar a {
  text-decoration: none;
}
#home_right_sidebar .hide_large_scall {
  display: none;
}
#home_right_sidebar .writer_header {
  padding: 8px;
  border-radius: 3px;
  color: #f5f5f5;
  background-color: #1a1797;
  text-align: center;
  margin-bottom: unset;
}
#home_right_sidebar .writer_part {
  width: 100%;
  border-left: 1px solid #bbb9b9;
}
#home_right_sidebar .writer_part .search_div {
  padding: 5px 4px;
}
#home_right_sidebar .writer_part .search_div input {
  font-size: 14px;
  padding: 4px 5px;
}
#home_right_sidebar .writer_part .search_div span {
  background-color: #2a36dd;
  cursor: pointer;
  color: white;
}
#home_right_sidebar .writer_list {
  height: 485px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding-left: 10px;
}
#home_right_sidebar .writer_list .writer_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}
#home_right_sidebar .writer_list .writer_link .img_div {
  width: 30%;
  margin-top: 5px;
}
#home_right_sidebar .writer_list .writer_link .img_div img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
#home_right_sidebar .writer_list .writer_link .img_div:hover {
  opacity: 0.8;
}
#home_right_sidebar .writer_list .writer_link p {
  margin-bottom: 0px;
}
#home_right_sidebar .right_side_social_link {
  padding: 15px 0px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 5px;
}
#home_right_sidebar .right_side_social_link a {
  color: #314260;
  width: 48px;
  border-radius: 50%;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  border: 1px solid #314260;
}
#home_right_sidebar .right_side_social_link a:hover {
  background-color: orangered;
  color: white;
  border: 1px solid rgba(237, 61, 21, 0.656);
}
#home_right_sidebar .notice_board {
  width: 100%;
  padding: 16px 0px;
  text-align: center;
  background-color: #f15a24;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  color: #faebd7;
  font-size: 27px;
}
#home_right_sidebar .notice_board img {
  width: 35px;
}
#outer_div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#outer_div_section {
  width: 80%;
  padding-left: 25px;
  padding-right: 25px;
}
#outer_div_section .title_show_image {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: snow;
  padding: 10px;
  font-size: 26px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 3px;
}
#outer_div_section .title_show_image img {
  width: 49px;
  height: 40px;
}
#outer_div_section .show_image_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
#outer_div_section .show_image_div .img_link {
  width: 24%;
  position: relative;
  overflow: hidden;
  border: 1px solid #9e99997d;
  border-radius: 4px;
}
#outer_div_section .show_image_div .img_link img {
  width: 100%;
  height: 190px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#outer_div_section .show_image_div .img_link .image_head {
  padding: 5px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#outer_div_section .show_image_div .img_link .image_head p {
  margin-bottom: unset;
}
#outer_div_section .show_image_div .img_link .image_head p:nth-child(2) {
  font-size: 13px;
}
#outer_div_section .show_image_div .img_link .image_head p:nth-child(3) {
  font-size: 12px;
}
#outer_div_section .show_image_div .img_link:hover .image_head {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#outer_div_section .show_image_div .img_link:hover img {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#outer_div_section .title_show_reader {
  margin-top: 10px;
  width: 100%;
  color: snow;
  padding: 10px;
  font-size: 26px;
  text-align: center;
  border-radius: 3px;
}
#outer_div_section .show_reader_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
#outer_div_section .show_reader_div div {
  width: 20%;
  padding: 2px;
  text-align: center;
}
#outer_div_section .show_reader_div img {
  width: 60%;
  height: 115px;
  border: 1px solid #8a2be2;
  border-radius: 50%;
  text-align: center;
}
#outer_div_section .show_reader_div p {
  margin-bottom: unset;
}
#outer_div_section .advertisement_div {
  width: 100%;
  padding: 10px 0px;
}
#outer_div_section .advertisement_div img {
  width: 100%;
}
.online_order {
  text-align: center;
  margin: 5px;
}
.online_order span {
  border: 1px solid #6161da;
  font-size: 22px;
  border-radius: 2px;
  padding-left: 7px;
}
.online_order i {
  cursor: pointer;
  color: #fff;
  padding: 8px 35px 9px;
  background-color: #22b573;
}
.home_facebook {
  width: 100%;
  height: 130px;
}
.show_twitter {
  margin-left: 5px;
  text-align: center;
}
.category_arc_home {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bran_blue_light);
  text-align: center;
  border-radius: 4px;
  margin: 15px 5px 15px 0px;
  width: 100%;
}
.category_arc_home span {
  width: 100%;
  color: #f5f5f5;
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
}
.category_arc_home div {
  margin-left: 3%;
  width: 100%;
  padding: 4px;
}
.category_arc_home select {
  width: 90%;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  font-size: 13px;
  padding: 8px 8px 8px 12px;
  background-color: #015c98;
}
.category_arc_home button {
  width: 90%;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  font-size: 13px;
  padding: 6px;
  cursor: pointer;
  background-color: #02426d;
  margin-bottom: 7px;
}
#outer_div_right {
  width: 20%;
  margin-top: 10px;
  padding-left: 12px;
}
#outer_div_right .heighest_read_home {
  border-radius: 3px;
  width: 100%;
  background-color: #0aad85;
  padding: 10px;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
#main_section_category {
  width: 87%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#main_section_category .category_section_one {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px 0px 15px 10px;
}
#main_section_category .category_section_one .category_one_part_1 {
  width: 49%;
}
#main_section_category .category_section_one .category_one_part_1 a {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px #615e5e57;
  border-radius: 4px;
}
#main_section_category .category_section_one .category_one_part_1 img {
  width: 100%;
  height: 382px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#main_section_category .category_section_one .category_one_part_1 div {
  position: absolute;
  bottom: 0;
  background-color: #002c8ba9;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#main_section_category .category_section_one .category_one_part_1 div p {
  margin-bottom: unset;
}
#main_section_category .category_section_one .category_one_part_1 div p:nth-child(2) {
  font-size: 13px;
}
#main_section_category .category_section_one .category_one_part_1 div p:nth-child(3) {
  font-size: 12px;
}
#main_section_category .category_section_one .category_one_part_1 a:hover div {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#main_section_category .category_section_one .category_one_part_1 a:hover img {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#main_section_category .category_one_part_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}
#main_section_category .category_one_part_2 .hide_large_scall {
  display: none;
}
#main_section_category .category_one_part_2 a {
  width: 49%;
  position: relative;
  margin-bottom: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px #615e5e57;
  border-radius: 3px;
}
#main_section_category .category_one_part_2 img {
  overflow: hidden;
  width: 100%;
  height: 187px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#main_section_category .category_one_part_2 div {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  background-color: #002c8ba9;
  padding: 5px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#main_section_category .category_one_part_2 div p {
  margin-bottom: unset;
}
#main_section_category .category_one_part_2 div p:nth-child(2) {
  font-size: 13px;
}
#main_section_category .category_one_part_2 div p:nth-child(3) {
  font-size: 12px;
}
#main_section_category .category_one_part_2 a:hover div {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#main_section_category .category_one_part_2 a:hover img {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#main_section_category .category_section_two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 25px;
  padding-top: 10px;
}
#main_section_category .category_section_two .category_part_one {
  width: 75%;
  padding: 20px 50px;
}
#main_section_category .category_section_two .category_part_one .show_large_scall {
  display: flex;
}
#main_section_category .category_section_two .category_part_one .show_large_scall_nav {
  display: flex;
}
#main_section_category .category_section_two .category_part_one .show_small_scall_nav {
  display: none;
}
#main_section_category .category_section_two .category_part_one a {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1.4px solid #dcdcdc;
  cursor: pointer;
  text-decoration: none;
}
#main_section_category .category_section_two .category_part_one img {
  width: 220px;
  height: 160px;
  box-shadow: 0px 0px 0px 1px #615e5e57;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#main_section_category .category_section_two .category_part_one div:nth-child(2) {
  padding-left: 15px;
  width: 70%;
  color: #000;
}
#main_section_category .category_section_two .category_part_one .show_category_item_day_month {
  color: grey;
  font-size: 12px;
  padding-top: 5px;
  width: 100%;
}
#main_section_category .category_section_two .category_part_one .show_title_writer_name {
  font-size: 20px;
  width: 100%;
}
#main_section_category .category_section_two .category_part_one .show_text_part {
  font-size: 16px;
  width: 70%;
  overflow-wrap: anywhere;
}
#main_section_category .category_section_two .category_part_one a:hover div {
  color: #0b5858;
}
#main_section_category .category_section_two .category_part_one a:hover img {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
#main_section_category .category_section_two .category_part_two {
  width: 25%;
}
#more_read_section .read_more {
  margin: 15px 10px;
}
#more_read_section .read_more_title {
  width: 100%;
  text-align: center;
  padding: 7px;
  margin: 0px 3px;
  background-color: rgba(2, 129, 129, 0.945);
  color: #fff;
  font-size: 20px;
  border-radius: 3px;
}
#more_read_section .read_more_title p {
  margin-bottom: unset;
}
#more_read_section .read_more_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
#more_read_section .read_more_section a {
  width: 19.5%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px #615e5e57;
  border-radius: 3px;
}
#more_read_section .read_more_section a img {
  width: 100%;
  height: 200px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#more_read_section .read_more_section a div:nth-child(2) {
  width: 100%;
  position: absolute;
  color: white;
  padding: 5px;
  bottom: 0;
  text-align: center;
  background-color: var(--brand_blue);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#more_read_section .read_more_section a div:nth-child(2) p {
  margin-bottom: unset;
}
#more_read_section .read_more_section a:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#more_read_section .read_more_section a:hover div:nth-child(2) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.writter_board {
  width: 100%;
  margin: 10px 0px;
}
.writter_board i {
  padding-right: 5px;
}
.writter_board a {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0571ec;
  border-radius: 5px;
  cursor: pointer;
  color: #faebd7;
  font-size: 22px;
  text-decoration: none;
}
.height_read {
  border-radius: 3px;
  width: 100%;
  background-color: #0aad85;
  padding: 10px;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.height_read p {
  margin: unset;
}
.heighest_read_section1 {
  display: flex;
  flex-wrap: wrap;
}
.heighest_read_section1 a {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
  color: #000;
  text-decoration: none;
}
.heighest_read_section1 a img {
  width: 96%;
  height: 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.heighest_read_section1 a div:nth-child(1) {
  width: 40%;
  overflow: hidden;
  margin-right: 3%;
}
.heighest_read_section1 a div:nth-child(2) {
  width: 60%;
  padding-right: 3%;
}
.heighest_read_section1 a div:nth-child(2) p {
  padding: 2px 0px 5px 0px;
  font-size: 12px;
  color: #204d20;
  margin-bottom: unset;
}
.heighest_read_section1 a div:nth-child(2) h6 {
  font-size: 15px;
  margin-bottom: unset;
}
.heighest_read_section1 a div:nth-child(2) small {
  font-size: 12px;
}
.heighest_read_section1 a:hover {
  color: var(--brand_green);
}
.heighest_read_section1 a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#item_section_one {
  width: 87%;
  margin: 25px 0px 20px 25px;
}
#item_section_one a {
  text-decoration: none;
}
#item_section_one p {
  margin-bottom: unset;
}
#item_section_one .item_main_div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#item_section_one .item_main_div .item_section_one {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-right: 40px;
}
#item_section_one .item_main_div .show_item_div {
  width: 100%;
}
#item_section_one .item_main_div .show_item_content {
  text-align: center;
}
#item_section_one .item_main_div .show_item_content .item_image_class {
  width: 100%;
  height: 450px;
}
#item_section_one .item_main_div .show_item_content .item_title {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding: 5px 0;
  border-bottom: 1.4px solid #ccc;
}
#item_section_one .item_main_div .show_item_content .show_item_div_p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1pt solid #ccc;
  align-items: center;
}
#item_section_one .item_main_div .show_item_content .show_item_div_p .item_category_name {
  width: 25%;
  text-align: left;
  font-size: 16px;
}
#item_section_one .item_main_div .show_item_content .show_item_div_p a {
  color: black;
}
#item_section_one .item_main_div .show_item_content .show_item_div_p .item_writter_name {
  text-align: center;
  font-size: 18px;
  width: 50%;
}
#item_section_one .item_main_div .show_item_content .show_item_div_p .item_writter_year {
  text-align: right;
  font-size: 15px;
  width: 25%;
}
#item_section_one .item_main_div .show_item_content .show_item_text {
  width: 100%;
  padding-top: 15px;
}
#item_section_one .item_main_div .show_item_content .show_item_text pre {
  white-space: pre-wrap;
  font-size: 18px;
  display: table;
  text-align: justify;
  font-family: "SolaimanLipi", Arial, sans-serif !important;
}
#item_section_one .item_section_two {
  width: 25%;
}
#item_section_one .share_div {
  display: inline-flex;
  align-items: center;
  border: 1px solid #1d0f0f;
  width: 60%;
}
#item_section_one .share_div p {
  padding: 20px 10px;
  color: #fff;
  background-color: #076848;
}
#item_section_one .share_div .share_icon {
  display: inline-flex;
  margin-left: 15px;
}
#item_section_one .share_div .share_icon a {
  color: white;
  width: 40px;
  text-align: center;
  border-radius: 3px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-right: 10px;
}
#item_section_one .share_div .share_icon a:nth-child(1) {
  background-color: #0059ff;
}
#item_section_one .share_div .share_icon a:nth-child(2) {
  background-color: #139fea;
}
#item_section_one .share_div .share_icon a:nth-child(3) {
  background-color: #2c920b;
}
#item_section_one .share_div .share_icon a:nth-child(4) {
  background-color: #0564d5;
}
#item_section_one .share_div .share_icon a:nth-child(5) {
  background-color: #087fe0;
}
#item_section_one .comment_section_div {
  margin: 15px 0px;
  width: 60%;
}
#item_section_one .comment_section_div .comment_section_title {
  padding: 9px 14px 5px 9px;
  color: #fff;
  background-color: #f04425;
  border-top-right-radius: 20px;
}
#item_section_one .other_written_title {
  border-radius: 3px;
  width: 100%;
  background-color: #332791;
  padding: 10px;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
#e_paper_section {
  width: 87%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
#e_paper_section .epaper_section_one {
  width: 77%;
  margin-top: 25px;
}
#e_paper_section .epaper_section_one .epaper_heading {
  font-size: 30px;
  text-align: center;
}
#e_paper_section .epaper_section_one .epaper_image_link {
  overflow: hidden;
  width: 100%;
  position: relative;
}
#e_paper_section .epaper_section_one .epaper_image_link .epaper_image {
  width: 100%;
}
#e_paper_section .epaper_section_one .epaper_image_link .epaper_title {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 0;
  transition: 0.5s ease-in-out;
  background-color: #046cb1ce;
  color: #f5f5f5;
}
#e_paper_section .epaper_section_one .epaper_image_link .epaper_title p {
  top: 50%;
  left: 50%;
  font-size: 19px;
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  text-align: center;
}
#e_paper_section .epaper_section_one .epaper_image_link:hover .epaper_title {
  bottom: 0;
  height: 100%;
}
#e_paper_section .epaper_section_two {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
#write_kishorkantha_section {
  width: 87%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
}
#write_kishorkantha_section .write_kishorkantha_section_one {
  width: 77%;
}
#write_kishorkantha_section .write_kishorkantha_section_one .write_kishorkantha_heading {
  font-size: 25px;
  padding: 3px;
  text-align: center;
}
#write_kishorkantha_section .write_kishorkantha_section_one .write_kishorkantha_input {
  width: 100%;
  padding: 0px 35px;
}
#write_kishorkantha_section .write_kishorkantha_section_two {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
}
#e_paper_show_section {
  width: 87%;
}
#e_paper_show_section .e_paper_main_div {
  width: 100%;
  padding: 20px;
}
#e_paper_show_section .e_paper_main_div .sample-container {
  margin: auto ;
  width: 80%;
  height: 530px;
  margin-bottom: 25px;
}
#writer_section_one {
  margin: 20px 0px 20px 30px;
  width: 87%;
  display: flex;
  align-items: flex-start;
}
#writer_section_one .show_writer_left {
  width: 77%;
  margin-top: 15px;
  margin-right: 30px;
}
#writer_section_one .show_writer_left .page_title {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #006be6;
  color: #f5f5f5;
  font-size: 25px;
  border-radius: 3px;
}
#writer_section_one .show_writer_left .writer_display_section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
#writer_section_one .show_writer_left .writer_display_image {
  width: 30%;
}
#writer_section_one .show_writer_left .writer_display_image img {
  width: 180px;
  height: 180px;
  border: 1px solid #f3eeee;
  border-radius: 50%;
}
#writer_section_one .show_writer_left .writer_display_content {
  width: 50%;
  padding-top: 20px;
}
#writer_section_one .show_writer_left .writer_display_content .writer_display_content_one {
  padding-top: 20px;
}
#writer_section_one .show_writer_left .writer_display_content .writer_display_content_one p {
  margin-bottom: 5px;
}
#writer_section_one .show_writer_left .category_part_one {
  width: 100%;
  padding: 20px 50px;
}
#writer_section_one .show_writer_left .category_part_one a {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1.4px solid #dcdcdc;
  cursor: pointer;
  text-decoration: none;
}
#writer_section_one .show_writer_left .category_part_one img {
  width: 200px;
  height: 130px;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#writer_section_one .show_writer_left .category_part_one div {
  padding-left: 15px;
  width: 70%;
  color: #000;
}
#writer_section_one .show_writer_left .category_part_one .show_category_item_day_month {
  color: grey;
  font-size: 12px;
  padding-top: 5px;
  width: 100%;
}
#writer_section_one .show_writer_left .category_part_one .show_title_writer_name {
  font-size: 20px;
  width: 100%;
}
#writer_section_one .show_writer_left .category_part_one .show_text_part {
  font-size: 16px;
  width: 70%;
  overflow-wrap: anywhere;
}
#writer_section_one .show_writer_left .category_part_one a:hover div {
  color: #0b5858;
}
#writer_section_one .show_writer_left .category_part_one a:hover img {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
#writer_section_one .show_writer_right {
  width: 23%;
}
#advertisement_page_section {
  margin: 20px 0px 20px 30px;
  width: 87%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#advertisement_page_section .show_large_scall_nav {
  display: flex;
}
#advertisement_page_section .show_small_scall_nav {
  display: none;
}
#advertisement_page_section .advertisement_left {
  width: 77%;
}
#advertisement_page_section .advertisement_left .page_title {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
#advertisement_page_section .advertisement_left .advertisement_description {
  padding: 15px;
}
#advertisement_page_section .advertisement_right {
  width: 23%;
}
#about_section_one {
  margin: 20px 0px 20px 30px;
  width: 87%;
  display: flex;
  align-items: flex-start;
}
#about_section_one .about_section_left {
  width: 77%;
  margin-right: 30px;
}
#about_section_one .about_section_right {
  width: 23%;
}
#login_section {
  margin: 20px 0px 20px 30px;
  width: 87%;
  display: flex;
  align-items: flex-start;
}
#login_section .login_section_left {
  width: 77%;
  margin-right: 30px;
}
#login_section .login_section_left img {
  border-radius: 50%;
}
#login_section .login_section_right {
  width: 23%;
}
#email_reset {
  margin: 20px 0px 20px 30px;
  width: 87%;
  display: flex;
  align-items: flex-start;
}
#email_reset .email_reset_left {
  width: 77%;
  margin-right: 30px;
}
#email_reset .email_reset_right {
  width: 23%;
}
